<div class="row account-view m-0">
    {{> sidebar}}

    <div class="d-flex flex-column account-content text-white py-4 px-5 bg-light">
        <div class="w-75 mx-auto">
            <h2 class="h2-color px-3 py-3 rounded shadow-sm">Generated Events</h2>
            {{#each events}}
            <div class="card py-3 shadow position-relative mb-3" id="event-card">
                <span class="text-left card-date-float">
                    <small class="text-muted">
                        Date: {{this.date}}
                    </small>
                </span>
                <div class="card-body text-dark">
                    <div class="row px-3">
                        <div class="col-2 align-items-center d-flex p-0">
                            <img src="../images/{{../user.image}}" class="rounded-circle mx-auto"
                                style="width:5rem; height:5rem; object-fit:cover">
                        </div>
                        <div class="col d-flex flex-column position-relative">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end position-absolute top-0 end-0">
                                <form method="POST" action="/events/update">
                                    <input name="eventId" value="{{this._id}}" hidden>
                                    <button type="submit" class="btn btn-secondary ">Edit</button>
                                </form>
                                <form method="POST" action="/account/delete">
                                    <input name="eventId" value="{{this._id}}" hidden>
                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete this event?')">Delete</button>
                                </form>
                            </div>
                            <span>Initiator: {{this.initiatorId.name}}</span>
                            <span class="text-left">Sport: {{this.sport}}</span>
                            <span class="text-left">Participants: {{this.participants}}</span>
                            <span class="text-left">Location: {{this.location}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="../javascripts/sidebar.js"></script>